@import './theme.css';

/* Utility only Tailwind for React components */
@tailwind utilities;

/* Target specific components if needed */
@layer utilities {
  .card {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .hover-underline:hover {
    text-decoration: underline;
  }
}

/* Block Editor Compatibility */
.wp-block-button__link {
  text-decoration: none !important;
}